<!-- views/patient/_search.ejs -->
<%- include('partials/breadcrumb', { breadcrumbs: ['Patients', 'Search'] }) %>

<form action="/patients/search" method="GET" class="form-inline">
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Search by first name" value="<%= query.first_name || '' %>">
    </div>
    
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Search by last name" value="<%= query.last_name || '' %>">
    </div>
    
    <button type="submit" class="btn btn-info">Search</button>
</form>
