<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Patient</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Update Patient</h1>
    </header>
    <main>
        <%- include('_form', { actionUrl: `/patients/${patient.patient_id}?_method=PUT` }) %>
    </main>
</body>
</html>
